<% layout("/layouts/boilerplate") %>
<body class="text-center bg-success">
    <h1 class="text-center text-white">Login</h1>
    <form id="loginForm" class="p-4">
        <div class="mb-3">
            <label for="email" class="form-label text-white">Email</label>
            <input type="email" class="form-control bg-success-subtle" id="email" required placeholder="Enter your email">
        </div>
        <div class="mb-3">
            <label for="password" class="form-label text-white">Password</label>
            <input type="password" class="form-control bg-success-subtle" id="password" required placeholder="Enter your password">
        </div>
        <button type="submit" class="btn btn-warning">Login</button>
    </form>
</body>