<% layout("/layouts/boilerplate") %>
<body class="bg-success">
    <h1 class="text-white text-center">Student Signup</h1>
    <form action="/api/auth/student/signup" method="POST">
        <div class="mb-3">
            <label for="fullName" class="form-label text-white">Full Name</label>
            <input type="text" class="form-control bg-success-subtle" id="fullName" name="fullName" required>
        </div>
        <div class="mb-3">
            <label for="email" class="form-label text-white">Email</label>
            <input type="email" class="form-control bg-success-subtle" id="email" name="email" required>
        </div>
        <div class="mb-3">
            <label for="password" class="form-label text-white">Password</label>
            <input type="password" class="form-control bg-success-subtle" id="password" name="password" required>
        </div>
        <div class="mb-3">
            <label for="rollno" class="form-label text-white">Roll Number</label>
            <input type="text" class="form-control bg-success-subtle" id="rollno" name="rollno" required>
        </div>
        <button type="submit" class="btn btn-warning">Sign Up</button>
    </form>
</body>