<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <!-- Brand (optional) -->
    <a class="navbar-brand" href="/">Attendance-Logger</a>

    <!-- Toggle button for responsive design -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainNavbar" aria-controls="mainNavbar" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navbar items -->
    <div class="collapse navbar-collapse" id="mainNavbar">
      <!-- Left side -->
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="/api/faculty/home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/api/faculty/course">Create New Course</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="!#">Courses Finished</a>
        </li>
      </ul>

      <!-- Right side -->
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" href="/api/faculty/profile">View Profile</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
